<div class="jumbotron center">  <!-- A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site. -->
	<h1>Welcome to my app!</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %> <!-- Create a button with the class btn -->
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>