<div class="jumbotron center">  <!-- A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site. -->
	<h1>Welcome to my app!</h1>
	<% if user_signed_in? %>
		<p>
			<%= link_to "See Pins", pins_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Log Out", destroy_user_session_path, class: "btn btn-default btn-lg", method: :delete %> <!-- Create a button with the class btn -->
		</p>
	<% else %>
			<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %> <!-- Create a button with the class btn -->
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
		<% end %>

</div>