<div class="jumbotron">  <!-- A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site. -->
	<h1>Welcome to my app!</h1>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p> <!-- Create a button with the class btn
</div>